<div class="wrapper">
  <style>
    div.a {
      white-space: nowrap;
      width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 0px solid #000000;
    }

    div.b {
      white-space: nowrap;
      width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 0px solid #000000;
    }

  </style>
  <app-leftmenu></app-leftmenu>
  <div id="content">
    <app-header></app-header>


    <div class="container" >
        <form [formGroup]="Editorfrmgrp">
      <div class="outer-w3-agile mt-3">
        <h3 class="tittle-w3-agileits">News Editor Table </h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr width="100%">
                <th width="5%">Sr.No.</th>
                <th width="10%">Ref. No.</th>
                <th width="20%">Caption</th>
                <th width="15%">Publish</th>
                <th width="30%">News</th>

                <th width="10%">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr width="100%"  *ngFor="let ns of _nsDetail | paginate: { itemsPerPage: 6, currentPage: p }; let i=index">
                <td width="5%">{{i+1}}</td>
                <td width="10%">#{{ns.NewsUID}}</td>
                <td width="10%">
                  <div class="b"> {{ns.Caption}}</div>
                </td>
                <td width="15%">{{ns.NewsStatus}}</td>
                <td width="20%"><div [innerHTML]="ns.News"></div></td>

                <td >

                  <h1 _ngcontent-c3=""  class="paragraph-agileits-w3layouts mt-2"><a
                      (click)="openScrollableContent(longContent,ns._id)">Edit</a>
                  </h1>

                </td>
                <!--<td width="10%"><select id="inputState" class="form-control" (change)="getValue($event.target.value);">
                    <option value="0">-choose-</option>
                    <option *ngFor="let c of Active" [ngValue]="ns._id">{{c.ActiveName}}</option>
                  </select> </td>

                <td width="10%"><select id="inputState" class="form-control" (change)="SetPlace($event.target.value);">
                    <option value="0">-choose-</option>
                    <option *ngFor="let Plc of _place">{{Plc.NPlaceRef}}</option>
                  </select></td>-->
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>

      <!-- popup window -->

      <ng-template #longContent let-modal>

        <div>
          <div class="modal-header" >
            <h4 class="modal-title" formControlName="_id">Reference No. {{_Ref}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div >Captaion : <input id="cap" type="text"  class="form-control" value={{_cap}}></div>
            <div>
            <div class="container">
              <h2>News</h2>
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-body" style="height:200px; overflow:scroll;" [innerHTML]="_news"> </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="modal-header">
              Publish and Set Place
            <div>

              <select id="inputPublish" class="form-control" formControlName="ActiveName"
                (change)="Isactive($event.target.value);">
                <option value=0>--Publish--</option>
                <option *ngFor="let nc of Active"  [ngValue]="nc.ActiveName" >{{nc.ActiveName}}</option>
              </select>
            </div>
            <div>

                <select id="inputPlace" class="form-control" formControlName="NPlaceRef" (change)="selectnewsitems($event.target.value);">
                  <option value=0>--Set--</option>
                  <option *ngFor="let nc of _place"  [ngValue]="nc.NPlaceRef">{{nc.NPlaceRef}}</option>
                </select>

              </div>
          </div>

        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="updateNews1(Editorfrmgrp);" >Update</button>
            <button type="button" class="btn btn-light" >Cancell</button>
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>


      </ng-template>
    </form>

    </div>
  </div>
</div>
